# Conda environment
*-env

# Xaringan-related files
#**/*_files

# HTML/PDF lectures
#lectures/**/*.html
#lectures/**/*.pdf

# Various
.snakemake
.DS_Store

# Output files from running tutorials
jupyter/report.html
jupyter/summary.txt
jupyter/.ipynb_checkpoints
*/data
*/intermediate
*/results
rmarkdown/.R*
rmarkdown/*html
rmarkdown/*Rproj
snakemake/*txt
snakemake/*png
snakemake/*tsv
.Rproj.user
